VITE_CONTRACT_ADDRESS=
VITE_LITVM_RPC_URL=https://liteforge.rpc.caldera.xyz/http
VITE_LITVM_EXPLORER_URL=https://liteforge.explorer.caldera.xyz
VITE_CONTRACT_DEPLOY_BLOCK=0
VITE_WALLETCONNECT_PROJECT_ID=
